<div id="footer" class="container-brand-dark footer-surround footer-container">
        <footer class="page-container-responsive">
  <div class="row row-condensed">
    <div class="col-md-3 col-md-offset-1">

        <div class="cx-number"></div>
      </div>

    </div>

    <div class="col-md-2 col-md-offset-1 hide-sm">
      <h2 class="h5">Company</h2>
      <ul class="list-layout">
        <li><a href="/about/about-us" class="link-contrast">About</a></li>
        <li><a href="/careers" class="link-contrast">Careers</a></li>
        <li><a href="/press/news" class="link-contrast">Press</a></li>
        <li><a href="http://blog.airbnb.com" class="link-contrast">Blog</a></li>
        <li><a href="/help?from=footer" class="link-contrast">Help</a></li>
        <li><a href="/policies" class="link-contrast">Policies</a></li>
        <li><a href="/disaster-response" class="link-contrast">Disaster Response</a></li>
        <li><a href="/terms" class="link-contrast">Terms &amp; Privacy</a></li>
      </ul>
    </div>

    <div class="col-md-2 hide-sm">
      <h2 class="h5">Discover</h2>
      <ul class="list-layout">
        <li><a href="/trust" class="link-contrast">Trust &amp; Safety</a></li>
        <li><a href="/invite?r=6" class="link-contrast">Travel Credit</a></li>
          <li><a href="/gift" class="link-contrast">Gift Cards</a></li>
        <li><a href="/wishlists/airbnb_picks" class="link-contrast">Airbnb Picks</a></li>
        <li><a href="/mobile" class="link-contrast">Mobile</a></li>
        <li><a href="https://www.airbnbaction.com?utm_source=airbnb&amp;utm_medium=footer&amp;utm_campaign=product" class="link-contrast" target="_blank">Airbnb Action</a></li>
        <li><a href="/business-travel?s=footer" class="link-contrast">Business Travel</a></li>
        <li><a href="/sitemaps" class="link-contrast">Site Map</a></li>
      </ul>
    </div>

    <div class="col-md-2 hide-sm">
      <h2 class="h5">Hosting</h2>
      <ul class="list-layout">
        <li><a href="/host" class="link-contrast">Why Host</a></li>
        <li><a href="/hospitality" class="link-contrast">Hospitality</a></li>
        <li><a href="/help/responsible-hosting" class="link-contrast">Responsible Hosting</a></li>
        <li><a href="/home-safety" class="link-contrast">Home Safety</a></li>
        <li><a href="/host/instant" class="link-contrast">Instant Book</a></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-12 space-4 space-top-4 show-sm">
    <ul class="list-layout list-inline text-center h5">
      <li><a href="/about/about-us" class="link-contrast">About</a></li>
      <li><a href="/careers" class="link-contrast">Careers</a></li>
      <li><a href="/press/news" class="link-contrast">Press</a></li>
      <li><a href="http://blog.airbnb.com" class="link-contrast">Blog</a></li>
      <li><a href="/terms" class="link-contrast">Terms &amp; Privacy</a></li>
    </ul>
  </div>

  <hr class="footer-divider space-top-8 space-4 hide-sm">

  <div class="text-center">
    <h2 class="h5 space-4 hide-sm">Join Us On</h2>
    <ul class="list-layout list-inline" itemscope="" itemtype="http://schema.org/Organization">
      <link itemprop="url" href="https://www.airbnb.com">
      <meta itemprop="logo" content="https://a2.muscache.com/airbnb/static/logos/belo-200x200-4d851c5b28f61931bf1df28dd15e60ef.png">
        <li>
          <a href="https://www.facebook.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <span class="screen-reader-only">Facebook</span>
            <i class="icon footer-icon icon-facebook"></i>
</a>        </li>
        <li>
          <a href="https://plus.google.com/+airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" rel="publisher" target="_blank">
            <span class="screen-reader-only">Google+</span>
            <i class="icon footer-icon icon-google-plus"></i>
</a>        </li>

        <li>
          <a href="https://twitter.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <span class="screen-reader-only">Twitter</span>
            <i class="icon footer-icon icon-twitter"></i>
</a>        </li>

      <li>
        <a href="https://www.linkedin.com/company/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
          <span class="screen-reader-only">LinkedIn</span>
          <i class="icon footer-icon icon-linkedin"></i>
</a>      </li>

        <li>
          <a href="https://www.pinterest.com/airbnb/" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <span class="screen-reader-only">Pinterest</span>
            <i class="icon footer-icon icon-pinterest"></i>
</a>        </li>
        <li>
          <a href="https://www.youtube.com/user/Airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <span class="screen-reader-only">YouTube</span>
            <i class="icon footer-icon icon-youtube"></i>
</a>        </li>
        <li>
          <a href="https://instagram.com/airbnb" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
            <span class="screen-reader-only">Instagram</span>
            <i class="icon footer-icon icon-instagram"></i>
</a>        </li>
    </ul>
    <div class="space-top-2 text-muted">

    </div>
  </div>
</footer>

      </div>
