<div class="homepage-hero-module">
    <div class="video-container">
    <div class="title-container">
    <div class="headline">
    <h1 class="title-banner">ABOUT THE KIDS</h1>
     <p class="p-banner">Find the right activity for your child</div>
    </div>
    <div class="filter"></div>



        <video autoplay loop class="fillWidth">
            <source src="<%= video_path("Hoola.mp4") %> " type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <!-- need to do web m for mobile and the jpeg  -->
            <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>

        <div class="poster hidden">
            <img src="PATH_TO_JPEG" alt="">
        </div>
    </div>
</div>
