<div class="homepage-hero-module">
  <div class="background-banner">
    <div class="banner-content">
      <h1 class="title-banner">ABOUT THE KIDS</h1>
      <p class="p-banner">Find the right activity for your child</p>
    </div>
  </div>
