
 <%= render 'shared/header' %>
 <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-3">
           <img src="images/globe.png" alt="">
           <h3>Discover the world</h3>
           <p>The earth is your new home.</p>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
           <h3>The perfect Extra-curricular Activity</h3>
           <p>Found with ease</p>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
           <h3>Physical, Acedemic, or Artistic</h3>
           <p>You choose</p>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
           <h3>Make sure it's the right fit</h3>
           <p>Our platform is based on Tryouts.</p>
         </div>
       </div>
     </div>

