
 <%= render 'shared/header' %>
 <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-3">
         <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
           <h3>Child's future</h3>
           <p>Opportunities are endless.</p>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
         <i class="fa fa-search fa-3x" aria-hidden="true"></i>
           <h3>Find with ease</h3>
           <p>The perfect Extra-curricular Activity</p>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
         <i class="fa fa-dot-circle-o fa-3x" aria-hidden="true"></i>
           <h3>You choose</h3>
           <p>Physical, Acedemic, or Artistic</p>
         </div>
         <div class="col-xs-12 col-sm-6 col-md-3">
         <i class="fa fa-universal-access fa-3x" aria-hidden="true"></i>
           <h3>Based on Tryouts</h3>
           <p>Make sure it's the right fit</p>
         </div>
       </div>
     </div>

