
.activities-index {
  margin: 0;
  font-family: Open-sans, sans-serif;
  color: #756A66;
  h3 {
    font-family: Raleway, Helvetica, sans-serif;
    color: #DADADA;
  }
  h1 {
    margin-top: 100px;
    margin-bottom: 70px;
    color: white;
  }
  h2 {
    color: #756A66;
  }
  a {
    text-decoration: none;
  }
}

.list-inline li {
  display: inline-block;
}
.list-inline {
  list-style: none;
}
